{% load staticfiles %}
<html>
<head>
  <title>News Recommendation System</title>

    <link rel="stylesheet" href="{% static 'style/radhe.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<Style>
  .fa
  {
  font-size= 400px;
  cursor:pointer;
  user-select:none;
  }
  .fa:hover{
color:blue;
    }
</Style>
</head>
<body>


<h1 class="header">News Recommendation System</h1>

{% block content %}
<div>Economy: {{staticPrefs.economy}}</div>
{% endblock %}

<button id="test">Test</button>
<p id="message"></p>

{% if staticPrefs.economy is True %}
<div class="outer">
  <div class="category" id="economy">
    <h2>Economy Business and Finance</h2>
    <div class="news">
      <ul>
        {% for news in economy %}
        <li>
        
        <a class="news-link" id={{news.id}} href={{ news.url }} target="_blank">{{ news.title }}</a>
        <p> {{news.description}}</p>
         <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>
        </li>        
        {% endfor %}
      </ul>
    </div>
       <button class="see-more-button">See More</button>
  </div>
</div>
{% endif %}

<div class="outer">
  <div class="category">
    <h2>arts</h2>
    <div class="news">
       <ul>
        {% for news in arts %}
        <li>
        
        <a href={{ news.url }} target="_blank">{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
      <button class="see-more-button">See More</button>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>science</h2>
    <div class="news">

      <ul>
        {% for news in science %}
        <li>
        
        <a href={{ news.url }} target="_blank">>{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
      <button class="see-more-button">See More</button>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>politics</h2>
    <div class="news">
      <ul>
        {% for news in politics %}
        <li>
        
        <a href={{ news.url }} target="_blank">>{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
      <button class="see-more-button">See More</button>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>culture</h2>
    <div class="news">
      <ul>
        {% for news in culture %}
        <li>
        
        <a href={{ news.url }} target="_blank">{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
      <button class="see-more-button">See More</button>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>sport</h2>
    <div class="news">
      <ul>
        {% for news in sport %}
        <li>
        
        <a href={{ news.url }} target="_blank">{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
       <button class="see-more-button">See More</button>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>misc</h2>
    <div class="news">
      <ul>
        {% for news in misc %}
        <li>
        
        <a href={{ news.url }} target="_blank">{{ news.title }}</a>
        <p> {{news.description}}</p>
             <i onclick = "myfunction(this)" class="fa fa-thumbs-up"></i>



        </li>        
        {% endfor %}
      </ul>
    </div>
      <button class="see-more-button">See More</button>
  </div>
</div>

</body>

<script type="text/javascript">

    function myfunction(x){

    }

  $(document).ready(function() {
    $(".news-link").click(function(event){
    //event.preventDefault();
      $.ajax({
        type:"POST",
        url:"/updateShowMore/",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          newsId: event.target.id,
          showMore: 1
        },
        success: function(data){
        }
      });
    });
    return false;
  });
</script>


</html>


