{% load staticfiles %}
<html>
<head>
  <title>News Recommendation System</title>

    <link rel="stylesheet" href="{% static 'style/radhe.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

<h1 class="header">News Recommendation System</h1>

{% block content %}
<div>Economy: {{staticPrefs.economy}}</div>
{% endblock %}

<button id="test">Test</button>
<p id="message"></p>

{% if staticPrefs.economy is True %}
<div class="outer">
  <div class="category" id="economy">
    <h2>Economy Business and Finance</h2>
    <div class="news">
      <ul>
        {% for news in economy %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

<div class="outer">
  <div class="category">
    <h2>arts</h2>
    <div class="news">
       <ul>
        {% for news in arts %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>science</h2>
    <div class="news">

      <ul>
        {% for news in science %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>politics</h2>
    <div class="news">
      <ul>
        {% for news in politics %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>culture</h2>
    <div class="news">
      <ul>
        {% for news in culture %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>sport</h2>
    <div class="news">
      <ul>
        {% for news in sport %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="outer">
  <div class="category">
    <h2>misc</h2>
    <div class="news">
      <ul>
        {% for news in misc %}
        <li>
        
        <a href=""  >{{ news.title }}</a>
        <p> {{news.description}}</p>
        <button class="see-more-button">See More</button>

        </li>        
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
  $(document).ready(function() {
    $(".see-more-button").click(function(event){
    event.preventDefault();
      $.ajax({
        type:"POST",
        url:"/testAjax/",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data){
          $("#economy ul").empty();
          var i;
          for(i=0; i<data.length; i++){
            var title = "<li><a href=\"\">" + data[i].fields.title + "</a>";
            var description = "<p>" + data[i].fields.description + "</p>";
            var button = "<button class=\"see-more-button\">See More</button></li>";

            $("#economy ul").append(title,description,button);
          }
        }
      });
    });
    return false;
  });
</script>

</html>


<!-- <div class="dialog">
   content here
</div>
<div class="overlay"></div> -->
